<div class="jumbotron mt-4">
    <h1 class="sisplay-4"> Trivia [EXNOMO]</h1>
    <p class="lead"> Aplicaci칩n de preguntasa con Express, NodeJS y MongoDB en Linux</p>
    <hr class="my-4">

    <p class="text-info">Si ya est치 previamente registrad@, haga click en el boton <i class="text-primary">"ACCEDER"</i>, de lo contrario siga las instrucciones:</p>
    <p>1) Para empezar haga click en la esquina superior derecha en la pesta침a "Registrar".</p>
    <p>2) Llene los campos y haga click en "Registrar".</p>
    <p>3) ingrese a la pesta침a de preguntas.</p>
    <a href="/users/signin" class="btn btn-primary">ACCEDER</a>
</div>
